@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>VIDEO</title>
    <style type="text/css">
        html, body {
            height: 100%;
            width: 100%;
            background: #f4f7f8;
        }

        body, td, tbody, table, tr, h2 {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            vertical-align: top;
        }
    </style>
</head>

<body>
<table style="height:100%;width:100%">
    <tr>
        <td width="30%" style="vertical-align:top">
            <table>
                @RenderSection("LIST")
            </table>
        </td>
        <td width="70%" style="vertical-align:top">
            @RenderSection("VIDEO");
        </td>
    </tr>
</table>
</body>
</html>